/*CSS Principal, incluye header, botones y más*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

header{
    display: flex;
    align-items: top;
    justify-content: top;
    margin: 140px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 140px;
}
}
.banner{
    width: auto;
    height: auto;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    position: fixed relative;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 70px;
}
.logo{
    width: 95px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar a{
    font-weight: 600;
    padding-right: 10px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    .navbar{
        padding: 10px 0px;
    }
}
/*content*/
.contenido{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
    text-decoration: underline dotted lightgray;
}
.contenido2{
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    color: whitesmoke;
}
.contenido3{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    text-align: center;
    color: whitesmoke;
}
.contenido4{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    text-align: center;
    color: whitesmoke;
}
.contenido5{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    text-align: center;
    color: whitesmoke;
}
.contenido90{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    text-align: center;
    color: white;
}
.contenido99{
    width: 100%;
    position: absolute;
    top: 11%;
    transform: translateY(-11%);
    text-align: center;
    color: white;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid;
    background: fixed;
    color: white;
    cursor: pointer;
}
.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*Footer y hover más responsive*/
footer{
    background-color: black;
    opacity: 100%;
    bottom: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.elfooter{
    width: 100%;
    padding: auto 20px auto;
}
.redesociales{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.redesociales a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.redesociales a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.redesociales a:hover{
    background-color:  #111; opacity: 100%;
    transition: 0.5s;
}
.redesociales a:hover i{
    color: white;
    transition: 0.5s;
}
/*pie de footer*/
.piedefooter{
background-color: #000;
padding: 20px;
text-align: center;
}
.piedefooter p{
    color: white;
}
.piedefooter h6{
    color: white;
    text-decoration: none;
    list-style: none;
}
.piedefooter h6 ol li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.piedefooter h6 ol li a{
    text-decoration: none;
    color: white;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}
.piedefooter h6 ol li::after{
    content:'';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.piedefooter h6 ol li:hover::after{
    width: 100%;
}
@media (max-width: 1100px){
    .elfooter{
        flex-direction: column;
    }
    .redesociales{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/*galería*/
img{
	max-width: 100dvh;
}
.gallery{
background: linear-gradient(45deg,#dbdbdb,gray,lightgray,black,whitesmoke);;
	padding: 275px 0%;
}
.gallery img{
	padding: auto;
	width: 60%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
    position: relative fixed;
}
#gallery-modal .modal-img{
	width: 100%;
}
.container-lg .col p{
color: white;
position: inherit;
font-size: small;
justify-content: center;
display: inline-flex;
max-width: 100vh;
}
.container-lg .col h2{
    color: white;
    position: relative;
    font-size: 20px;
    margin-bottom: -50%;
}